body{
    background-color: rgb(195, 206, 216);
}
.weather-app {
    
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(207, 218, 228);
}
.white-left-side {
    display: flex;
    flex-direction: column;
    align-items: left; 
    background-color: rgb(255, 254, 254);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10 px;
    color: rgb(0, 0, 0);
    
}
.Grey-right-side  {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(165, 160, 160);
    display: flex;
    flex-direction: column;
    align-items: right;

}

.city-form{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    padding: 10px;
    width: 30%;
    font-size: 12px;
}
.search-button {
    background-color:rgb(195, 206, 216);
    border: none;
    border-radius: none;
    padding: 10px;
    font-size: 12px;
}

.weather-info{
    font-size: 1.5rem;
    margin-bottom: 1px;
    font-family: 'Courier New', Courier, monospace;
}
.weather-info p {
    font-size: 0.5rem;
    margin: 0;
}

.city-temperature {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.celcius-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9rem;
    position: relative;
    top: -50px;

}



.weather-result {
    margin: 0 ;
    padding: 0px;
}
.search-city {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
   border-radius: 4px;
   border: 0px solid rgb(0, 0, 0);
}
.searched-city-name {
    color: rgb(0, 0, 0);
   position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#searched-city-image {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.today-week-chart {
    justify-content: space-evenly;
    font-size: 1.0rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#celsius {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
#celsius:hover {
    background-color: rgb(195, 206, 216);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#fahrenheit {
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#fahrenheit:hover {
    background-color: rgb(195, 206, 216);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weekly-weather {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.0rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.day1 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%
}

.day2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.day3 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.day4 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.day5 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.day6 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.day7 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.UV-index {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.UV-index h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.wind-status{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.wind-status h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.sunrise-sunset-time{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.humidity{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.humidity h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.visibility{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.visibility h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.air-quality{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: 'Courier New', Courier, monospace;
}

.air-quality h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.0rem;
    color: rgb(0, 0, 0);
    cursor: pointer;  
}

.today-temperature-first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.today-temperature-second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.today-temperature-third {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#weather-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.weather-app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer {
display: flex;
justify-content: center;
    align-items: center;}